.knobjs-bg {fill: rgba(0,0,0,0);}
.knobjs-arcbg {fill: rgba(0,0,0,0); stroke-width:0.1; stroke: #000;}
.knobjs-arc {fill:#000;}

x-knobjs-knob {
  display: inline-block;
  height: 100px;
  width: 100px;
}

.image-knob {
	height: auto;
	object-fit: cover;
	object-position: center;
	width: 9.8%;
	margin: 10px 0.3em 0 0.7em;
}

.image-knob.active .knobjs-arcbg{
	stroke-width:0.15;
	stroke: #f56a6a;
}
